# Dependencies
node_modules

# Build outputs
dist
build

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# Vite / IDE
.vite
.DS_Store
*.swp
*.swo

# Optional: If you want to ignore models (but we don't)
# public/models/*